.container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    background-color:darkseagreen;
    height:100vh;
    color:burlywood;
}

.formContainer{
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:2px solid red;
    width:400px;
    padding:10px;
    background-color:crimson;
}

.labelInput{
   display:flex;
   flex-direction:column;
   margin:10px;
    
}
.inputel{
    width:100%;
}
.label{
    color:cornsilk;
    font-weight:500;
    font-size:15px;
    margin-bottom:5px;
}
.submitButton{
    background-color:chocolate;
    color:cornsilk;
    border:none;
    border-radius:10px;
    padding:10px;
    font-weight:700;
}
.error{
    color:white;
    font-size:10px;
}
.linkstyle{
    text-decoration:none;
}
.productsbutton{
    background-color:crimson;
    color:white;
    border:none;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:10px;
    width:200px;
}